<div class="category">
    <!-- category -->
    <h2 class="text-dark font-weight-normal">{{category.name}}</h2>
    <nav class="navbar navbar-light bg-light">
        <div class="category__sort">
            Сортировать по:
            <select class="custom-select" @change="getData" v-model="sortId">
                <option value="0">Сначала дешевле</option>
                <option value="1">Сначала дороже</option>
                <option value="2" selected>От А до Я</option>
                <option value="3">От Я до А</option>
            </select>
        </div>
        <div class="mr-auto"></div>
        <div class="category__per-page">
            Выводить по:
            <select class="custom-select" @change="getData" v-model="limit">
                <option value="9" selected>9 товаров</option>
                <option value="18">18 товаров</option>
                <option value="36">36 товаров</option>
                <option value="48">48 товаров</option>
            </select>
        </div>
    </nav>
    <br>
    <div class="row" id="products">
        <c-product-card :data="product" class="col-12 col-lg-4" v-for="product in products" :key="product.product_id">
        </c-product-card>
    </div>
    <b-pagination size="md" @input="getPage" v-model="page" align="center" :total-rows="total" :per-page="limit">
    </b-pagination>
</div>