.category {
    &__sort {
        button .fa {
        vertical-align: text-top;
            &-sort-asc {
                vertical-align: middle;
            }
        }
    }
    .custom-select{
        width:auto;
    }
}